.JumboLink{
    text-align: center;
    width: 100%;
    margin: 1rem 0;
    border-radius: 10%;
}
.JumboTitle{
    color:white;
    font-weight: 800;
    text-shadow: 5px 5px 5px black;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    bottom: 6.8rem;
    max-width: 90%;
}
.JumboLink:hover{
    text-decoration: none;
}
.JumboImage{
    width: 90%;
    max-height: 10rem;
    object-fit: cover;
    border-radius: 2rem;
}

.JumboLink:hover,
.JumboLink.active{
    opacity: 0.8;
}