.SerchHBar{
    width: 100%;
    background-color: rgba(100, 148, 237, 0.397);
    margin: 0 0.5rem;
    border-radius: 1rem;   
}
.Block{
    padding: 0.5rem 0;
}
.SerchHBar__Title{
    margin-top: 1rem;
    padding-top: 1rem;
}
.Slider{
    width: 80%;
    margin: 1rem auto 0 auto;
}
.Guests input{
    width: 3rem;
    margin-left: 2rem;
}
.Location select{
    width: 80%;
    margin: 0 auto;
}
.Inline{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Pool{
    margin-bottom: 0;
}
.SearchButton{
    box-shadow: 5px 5px 5px black;
    margin: 1rem 0;
}
.IndiferentCheckbox{
    display: inline-block;
    margin:0.8rem 0 0 1rem;
    font-weight:300;
}
@media (max-width:1100px) and (min-width:768px){
    p.IndiferentCheckbox{
        display:block;
    }
}
@media (max-width:768px){
    p.IndiferentCheckbox{
        display:inline;
    }
}