.service__selected{
    background-color: green;
}
.service__selected:focus,
.service__selected:active,
.service__selected:hover{
    background-color: green;
}
.ExtendLink{
    color: blue;
    display: inline;
    padding: 0 10px;
    box-sizing: border-box;
}
.ExtendLink:hover{
    font-weight: 600;   
    cursor: pointer; 
    text-decoration: underline;
}